div#container {
    max-width: 800px;
    width: 90%;
    margin: auto;
    text-align: center;
}
div#outputDiv{
	height: 50px;
	border: 1px solid #000;
	white-space:pre;
	font-size:50px;
	overflow:hidden;
	margin:auto;
	width:50%;
	padding: 0;
}
